body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    transition: background 0.4s ease;
}

nav {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background: #222;
    color: white;
}

nav h2 {
    margin: 0;
    margin-right: 40px;
}

nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

#ganti {
    color: black;
}

h1 {
    margin-bottom: 10px;
}

p {
  margin: 4px 0;
}

.btn-bg {
    margin-top: 25px;
    padding: 10px 18px;
    border: none;
    background: #28a745;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.btn-bg:hover {
    background: #1d7e33;
}

.foto-prof {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #000000;
    margin-bottom: 15px;
}

.card {
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
